<!DOCTYPE html>
<html>

  {% include head.html %}
  <head>
    {% include head.html %}
    {% seo %}
  </head>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">
          {{ content }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    </div>

    {% include footer.html %}

  </body>

</html>
